results/results.csv
StrtegyBuilder.py
NIFTY_BANK2023.csv
NIFTY_BANK2022.csv
NIFTY_BANK2021.csv
NIFTY_BANK2020.csv
NIFTY_BANK2019.csv
NIFTY_BANK2018.csv
NIFTY_BANK2017.csv
NIFTY_BANK2016.csv
NIFTY_BANK2015.csv
signal.csv
rsi_data.csv
engine.py
Formula_2_-_Backtest_Report.pdf